.project-item-container {
  width: 200px;
  background: #fff;
  -webkit-box-shadow: 0 15px 25px rgba(0, 0, 0, 0.06);
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.06);
  border-radius: 12px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  justify-content: space-between;
  margin: 15px;
}

.project-item-image {
  width: 100%;
  border: 1px solid transparent;
  border-radius: 5px;
}

.project-item-details-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 32px 24px;
}

.project-item-title {
  font-family: 'Bree Serif';
  font-weight: 600;
  font-weight: 500;
  font-size: 20px;
  line-height: 36px;
  color: #183b56;
  margin: 0;
  text-align: center;
}

@media (max-width: 767px) {
  .project-item-container {
    width: 120px;
  }
  .project-item-title {
    font-size: 18px;
    line-height: 25px;
  }
  .project-item-details-container {
    padding: 12px;
  }
}
